<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] [%logger{36}] - %msg%n"/>
        </Console>

        <File name="info_log" fileName="e:\\logs\\info.log" append="true">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%-5p] [%t:%c] [%r] [%d{yyyy-MM-dd HH:mm:ss,SSS}] %n--- ---%msg%n"/>
        </File>

        <File name="error_log" fileName="e:\\logs\\error.log" append="true">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%-5p] [%t:%c] [%r] [%d{yyyy-MM-dd HH:mm:ss,SSS}] %n--- ---%msg%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="Console"/>
            <appender-ref ref="info_log"/>
            <appender-ref ref="error_log"/>
        </root>
    </loggers>
</configuration>